@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --max-width: 1200px;
  --extra-light: #f2f2f2;
  --text-dark: #222;
  --primary-color: royalblue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #dcdcdc, #f8f9fa);
  overflow-x: hidden;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fadeInUp 0.8s ease-in-out;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  text-align: left;
  gap: 1rem;
  list-style: none;
  transition: left 0.5s;
}

ul li a {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s ease-in-out;
}

ul li a:hover {
  background-color: var(--primary-color);
  color: white;
}

.article-body {
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.article-body p {
  text-align: justify;
}

.article-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 1000px;
  margin: 100px auto 0;
  padding: 5%;
  animation: fadeInUp 1s ease-in-out;
}

figure img {
  max-width: 1000px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

figure img:hover {
  transform: scale(0.9);
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(110vh - 85px);
    left: -100%;
    top: 75px;
    background: linear-gradient(135deg, #f0f0f0, #ffffff);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked~ul {
    left: 0;
  }

  ul li a {
    font-size: 1.15rem;
    text-align: center;
    display: block;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .article-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .article-body p {
    text-align: center;
  }
}