@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --max-width: 1200px;
  --extra-light: gray;
  --text-dark: black;
}

body {
  background-color: gray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  text-align: left;
  gap: 1rem;
  list-style: none;
  transition: left 0.5s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.5s;
}

.article-body {
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.article-body p {
  text-align: justify;
}

.article-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 1000px;
  margin: 100px auto 0;
  padding: 5%;
}

figure img {
  max-width: 1000px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(110vh - 85px);
    left: -100%;
    top: 75px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked~ul {
    left: 0;
  }

  ul li a {
    font-size: 1.15rem;
    text-align: center;
    display: block;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .article-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .article-body p {
    text-align: center;
  }
}